<%- include('../partials/adminHeader.ejs') %>
<%- include('../partials/adminSidebar.ejs') %>
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Report</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                <li class="breadcrumb-item active">Report</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <div class="col-lg-13">
        <div class="card">
            <div class="card-body overflow-scroll">
                <form action="/admin/sales-report" method="get">
                    <div class="d-flex  justify-end items-center space-x-3">


                        <div class="form-group">
                            <label for="startDate">From</label>
                            <input type="date" name="startDate" id="startDate" class="form-control"
                                placeholder="Start Date"
                                value="<%= startDate.toISOString().toString().split('T')[0] %>" />
                        </div>
                        <div class="form-group">
                            <label for="endDate">To</label>
                            <input type="date" id="endDate" name="endDate" class="form-control" placeholder="End Date"
                                value="<%= endDate.toISOString().toString().split('T')[0] %>" />
                        </div>
                        <div class="btn-toolbar pt-3 text-blue-700">
                            <button type="submit" class="btn btn-primary text-blue-700">
                                <i class="bi bi-search"></i>
                                Get Report
                            </button>
                        </div>

                        <div class="btn-toolbar pt-3 flex gap-1">
                            <button onclick="getExcel()" type="button" class="btn btn-outline-success"><i
                                    class="bi bi-file-earmark-spreadsheet"></i>Excel</button>
                            <button id="exportToButton" onclick="getPDF()" type="button"
                                class="btn btn-outline-danger"><i class="bi bi-file-earmark-pdf"></i>PDF</button>
                        </div>
                        <!-- <a href="/admin/add-product" class="btn btn-primary "
                        style="background-color: #0d6efd !important ;"><i class="bi bi-plus-lg"></i> New
                        Product</a> -->
                    </div>
                </form>



                <!-- Table with hoverable rows -->
                <table class="table table-hover">
                    <thead>
                        <tr class="text-center">
                            <th class="sorting" scope="col">#</th>
                            <th class="sorting" scope="col">Order Id</th>
                            <th class="sorting" scope="col">Order Date</th>
                            <th class="sorting" scope="col">User</th>
                            <th class="sorting" scope="col">Products</th>
                            <th class="sorting" scope="col">Shipping Address</th>
                            <th class="sorting" scope="col">Payment Method</th>
                            <th class="sorting" scope="col">Status</th>
                            <th class="sorting" scope="col">Total Amount</th>
                            <th class="sorting" scope="col">Coupon</th>
                            <th class="sorting" scope="col">Coupon Discount</th>
                            <!-- <th class="sorting" scope="col">Payable</th> -->
                            <th class="sorting" scope="col">Category Discount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% i=1 %>
                        <% details.forEach(data=> { %>
                        <tr class="text-center">
                            <td scope="row">
                                <%= i++ %>
                            </td>
                            <td scope="row">
                                <%= data._id.toString().slice(-6) %>
                            </td>
                            <td style="width: 15%;">
                                <%= data.createdAt.toISOString().split('T')[0] %>
                            </td>
                            <td> <%= data.name %> </td>
                            <td> <%= data. product_name%> </td>
                            <td> <%= data.address %> </td>
                            <td> <%= data.payment_method %> </td>
                            <td> <%= data.status %> </td>
                            <td> <%= data.total_amount%> </td>
                            <% if (data.coupon) { %>
                            <% if (data.coupon.code) { %>

                            <td><%= data.coupon.code %></td>
                            <% } else { %>
                            <td>No coupon</td>
                            <% } %>
                            <% } else { %>
                            <td>No coupon</td>
                            <% } %>






                            <% if (data.coupon) { %>
                            <td><%= data.coupon.discount %></td>
                            <% } else { %>
                            <td>0</td>
                            <% } %>

                            <!-- </td>
                            <td> -->


                            <% if (data.category_discount) { %>
                            <td><%= data.category_discount %></td>
                            <% } else { %>
                            <td>No discount</td>
                            <% } %>




                            </td>

                        </tr>


                        <% }) %>
            </div>


            </tbody>
            </table>
            <!-- End Table with hoverable rows -->
        </div>
    </div>

    </section>

</main>


<script>
    const startDate = document.getElementById("startDate").value;
    const endDate = document.getElementById("endDate").value;
    console.log(startDate, endDate);
    const getExcel = () => {
        console.log(startDate, endDate);

        let url = `/admin/download-excel?startDate=${startDate}&endDate=${endDate}`;
        window.location.href = url;
    }



    const getPDF = async () => {
        const start = document.getElementById("startDate").value;
        const end = document.getElementById("endDate").value;
        console.log(startDate, endDate);

        try {
            Swal.fire({
                icon: 'info',
                title: 'Generating PDF...',
                allowOutsideClick: false,
                allowEscapeKey: false,
                didOpen: () => {
                    Swal.showLoading();
                },
                timer: 1200,
            }).then(() => {
                let url = `/admin/sales-report/pdf-download?startDate=${start}&endDate=${end}`;
                window.location.href = url;
            })

        } catch (error) {
            console.error('Error fetching content or generating PDF:', error);

            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: error.message || 'Something went wrong!',
            })
        }
    }
</script>