<%- include('../partials/header.ejs') %>


<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4 "
    id="product">
    <div class="container mb-8 ">
        <div class="row justify-content-center ">
            <div class="col-lg-7  d-flex flex-column align-items-center justify-content-center">

                <div class="card w-100">
                    <div class="card-body">


                        <h5 class="card-title"><a onclick="history.back()"><i class="fa fa-arrow-left"
                                    aria-hidden="true"></i></a>
                            Order Details</h5>
                        <!-- Advanced Form Elements -->
                        <form>
                            <div class="card mb-0 ">
                                <div class=" d-flex justify-content-between pt-2">
                                    <h5 class="mb-0 p-2">Manange Order</h5>
                                </div>

                                <div class="p-1"></div>
                                <div class="card mb-0 ">
                                    <% cartItems.forEach(order=> { %>
                                    <hr>
                                    <div class=" d-flex justify-content-between pt-2">
                                        <div class="col-2">Order Id</div>
                                        <div class="col"><%= order._id %></div>
                                    </div>
                                    <div class=" d-flex justify-content-between pt-2">
                                        <div class="col-2">Placed On</div>
                                        <div class="col"><%= order.createdAt.toDateString() %></div>
                                    </div>
                                    <div class=" d-flex justify-content-between pt-2">
                                        <div class="col-2">Status</div>
                                        <div class="col"><%= order.status %></div>
                                    </div>
                                    <div class="   text-gray-900 rounded-lg group
                                        bg-gradient-to-br from-purple-50 to-pink-300 group-hover:from-purple-50
                                        group-hover:to-pink-50 hover:text-pink-500 focus:outline-none
                                        focus:ring-blue-300 font-medium text-sm  py-2.5 text-center justify-center""
                                        id=" status" data-order-id="<%= cartItems[0]._id %>"
                                        <% if ( order.status!== "Cancelled" &&  order.status!== "failed payment" &&  order.status!== "Delivered" &&  order.status!== "Returned") { %>
                                        onclick="cancelOrder(this)" <% } %>>
                                        <% if (order.status === "Cancelled") { %>
                                        CANCELLED
                                        <% } else if (order.status==="failed payment") { %>
                                        ORDER FAILED
                                        <% }
                                        else if (order.status==="Delivered") { %>
                                        <!-- Modal toggle -->
                                        <button data-modal-target="select-modal" data-modal-toggle="select-modal" class=" text-gray-900 rounded-lg group bg-gradient-to-br from-purple-50 to-pink-300 group-hover:from-purple-50 group-hover:to-pink-50 hover:text-pink-500 
                                            focus:outline-none focus:ring-blue-300 font-medium text-sm px-5
                                            py-2.5 text-center justify-center" type="button">
                                            Return
                                        </button>

                                        <!-- Main modal -->
                                        <div id="select-modal" tabindex="-1" aria-hidden="true"
                                            class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                                            <div class="relative p-4 w-full max-w-md max-h-full">
                                                <!-- Modal content -->
                                                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                                    <!-- Modal header -->
                                                    <div
                                                        class="flex items-center justify-between p-4 md:p-5 border-b pb-0 rounded-t dark:border-gray-600">
                                                        <h3 class="text-lg font-semibold text-gray-900">
                                                            Why are you returning this?
                                                        </h3>
                                                        <button type="button"
                                                            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm h-8 w-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 "
                                                            data-modal-toggle="select-modal">
                                                            <svg class="w-3 h-3" aria-hidden="true"
                                                                xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                viewBox="0 0 14 14">
                                                                <path stroke="currentColor" stroke-linecap="round"
                                                                    stroke-linejoin="round" stroke-width="2"
                                                                    d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                                            </svg>
                                                            <span class="sr-only">Close modal</span>
                                                        </button>
                                                    </div>
                                                    <!-- Modal body -->
                                                    <div class="p-4 md:p-5">
                                                        <!-- <p class="text-gray-500 dark:text-gray-400 mb-4">Select your desired position:</p> -->
                                                        <ul class="space-y-4 mb-4">

                                                            <div class="flex items-center mb-4">
                                                                <input id="reason-1" type="radio"
                                                                    value="Bought by mistake" name="reason"
                                                                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                                                <label for="reason-1"
                                                                    class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Bought
                                                                    by mistake</label>
                                                            </div>

                                                            <div class="flex items-center mb-4">
                                                                <input id="reason-1" type="radio"
                                                                    value="No longer needed" name="reason"
                                                                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                                                <label for="reason-1"
                                                                    class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">No
                                                                    longer needed</label>
                                                            </div>
                                                            <div class="flex items-center">
                                                                <input id="reason-2" type="radio"
                                                                    value="Damaged product" name="reason"
                                                                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                                                <label for="reason-2"
                                                                    class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Damaged
                                                                    product</label>
                                                            </div>
                                                            <div class="flex items-center mb-4">
                                                                <input id="reason-1" type="radio"
                                                                    value="Expired product" name="reason"
                                                                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                                                <label for="reason-1"
                                                                    class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Expired
                                                                    product</label>
                                                            </div>
                                                            <div class="flex items-center">
                                                                <input id="reason-2" type="radio"
                                                                    value="Wrong item received" name="reason"
                                                                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                                                <label for="reason-2"
                                                                    class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Wrong
                                                                    item received</label>
                                                            </div>
                                                            <div class="flex items-center mb-4">
                                                                <input id="reason-1" type="radio"
                                                                    value="Item arrived too long" name="reason"
                                                                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                                                <label for="reason-1"
                                                                    class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Item
                                                                    arrived too long</label>
                                                            </div>


                                                        </ul>
                                                        <button onclick="returnOrder(this)" type="button"
                                                            data-order-id="<%= order._id %>"
                                                            class="text-white inline-flex w-full justify-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                                            Next step
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% } else if (order.status==="Returned") { %>
                                        Order Returned
                                        <% } else  { %>
                                        CANCEL ORDER
                                        <% } %>
                                    </div>

                                </div>




                                <hr>
                                <div class="card-body pt-3">
                                    <div class="flex flex-col !gap-2">
                                        <% order.items.forEach(item => { %>
                                        <!-- Card with an image on left -->

                                        <div class="row g-0 ">
                                            <div class="col-3" style="width: 20%;">
                                                <img src="/files/<%= item.product_id.img1 %>" class="img-fluid rounded"
                                                    alt="...">
                                            </div>
                                            <div class="col-9">
                                                <div class="card-body">
                                                    <h5 class="card-title pb-0 pt-2">
                                                        <%= item.product_id.product_name.split(' ').slice(0,
                                                            6).join(' ')  %>
                                                    </h5>
                                                    <p class="card-text">
                                                        <%= item.product_id.description.split(' ').slice(0,
                                                            15).join(' ') %>

                                                    </p>
                                                    <p class="card-text"> Qty :
                                                        <%= item.quantity %>
                                                    </p>
                                                    <p class="card-text pb-0">
                                                        ₹ <%= item.price %>
                                                        <del>₹<%= item.product_id.actual_price %></del>
                                                    </p>

                                                    <div class="text-right text-purple-200 pt-0">WRITE A REVIEW
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <!-- End Card with an image on left -->
                                        <% }) %>
                                    </div>




                                    <div class=" d-flex justify-content-between pt-2">

                                        <h1 class="card-title py-0">Order Detail</h1>

                                    </div>
                                    <div class=" d-flex justify-content-between pt-2">
                                        <div class="col-3">Order Date:</div>
                                        <div class="col"><%= order.createdAt.toDateString() %></div>
                                    </div>
                                    <div class=" d-flex justify-content-between pt-2">
                                        <div class="col-3">Sub Total:</div>
                                        <div class="col"><%= cartItems[0].total_amount %></div>
                                    </div>
                                    <div class=" d-flex justify-content-between pt-2">
                                        <div class="col-3">Order Total:</div>
                                        <div class="col"><%= cartItems[0].total_amount %></div>
                                    </div>
                                    <div class=" d-flex justify-content-between py-2">
                                        <div class="col-3">Payment Method:</div>
                                        <div class="col"><%= cartItems[0].payment_method.toUpperCase() %></div>
                                    </div>




                                    <% if (order.status=='Delivered') { %>
                                    <div class="main-border-button mb-3 ml-3"><a
                                            class="btn px-4 p-2 relative inline-flex items-center justify-center overflow-hidden  text-gray-900 rounded-lg group bg-gradient-to-br from-purple-50 to-pink-300 group-hover:from-purple-50 group-hover:to-pink-50 hover:text-pink-500 dark:text-black focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800"
                                            href="/invoice-download/<%= order._id %>">Invoice </a>

                                    </div>
                                    <% } %>

                                    <hr>
                                </div>
                                <% }); %>
                                <div class=" d-flex justify-content-between py-0 ">
                                    <h1 class="card-title py-0 px-4">Address</h1>
                                </div>
                                <div class=" d-flex justify-content-between pt-0 px-4 ">
                                    <div class="col-5"><%= cartItems[0].address %></div>

                                </div>
                            </div>
                    </div>

                    </form><!-- End General Form Elements -->

                </div>
            </div>

            </form>
        </div>
    </div>



    </div>
    </div>
    </div>

</section>

</div>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>


<script>
    const cancelOrder = async (element) => {
        // const orderId = element.getAttribute('data-order-id')
        // console.log(orderId);
        // const status = document.getElementById('status')
        // console.log(status);

        // try {
        //     const res = await axios.post('/cancel-order', {
        //         orderId
        //     })

        //     if (res.status === 200) {
        //         window.location.reload()
        //         status.innerHTML = "CANCELLED"
        //         // window.location.href = '/orders'
        //     }

        // } catch (error) {

        // }






        Swal.fire({
            title: "Are you sure?",
            icon: "warning",
            iconColor: '#da63f2',
            showCancelButton: true,
            confirmButtonColor: "#908991",
            cancelButtonColor: "#da63f2",
            confirmButtonText: "Yes",
            cancelButtonText: "No",
        }).then(async (result) => {
            if (result.isConfirmed) {
                const orderId = element.getAttribute('data-order-id')
                console.log(orderId);
                const status = document.getElementById('status')
                console.log(status);

                try {
                    const res = await axios.post('/cancel-order', {
                        orderId
                    })
                    if (res.data.message === "payment cancelled") {
                        Swal.fire({
                            title: "Order Cancelled",
                            text: "Your amount will be credited to your wallet shortly.",
                            icon: "success",

                        }).then((result) => {
                            console.log("result", result);
                            if (result.isConfirmed) {
                                window.location.reload()
                            }
                        });
                    } else if (res.status === 200) {
                        window.location.reload()
                        status.innerHTML = "CANCELLED"
                        // window.location.href = '/orders'
                    }

                } catch (error) {

                }
            }
        });
    }

    const returnOrder = async (element) => {
        try {
            const orderId = element.getAttribute('data-order-id')
            console.log("orderrr", orderId);
            // element.preventDefault()
            const selected = document.querySelector('input[name="reason"]:checked').value
            // console.log("element", selected.value);
            // alert(selected.value)


            const res = await axios.post('/return-order', {
                reason: selected,
                orderId
            })
            if (res.status === 200) {
                Swal.fire({
                    title: "Order return succussfull",
                    text: "Your amount will be credited to your wallet shortly.",
                    icon: "success",

                }).then((result) => {
                    console.log("result", result);
                    if (result.isConfirmed) {
                        window.location.reload()
                    }
                });
            }
            // Swal.fire({
            //     title: "Order return succussfull",
            //     text: "Your amount will be credit to wallet shortly",
            //     icon: "success",
            //     timer: 12000
            // }).then((result) => {
            //     console.log("result", result);
            //     if (result.isConfirmed) {
            //         // history.back()
            //     }
            // });
        } catch (error) {

        }
    }
</script>