<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4 "
    id="product">
    <div class="container mb-8 ">
        <div class="row justify-content-center ">
            <div class="col-lg-7  d-flex flex-column align-items-center justify-content-center">

                <div class="card w-100">
                    <div class="card-body">


                        <h5 class="card-title"><a href="/"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                            Order Details</h5>
                        <!-- Advanced Form Elements -->
                        <form action='/' method="POST">
                            <div class="card mb-0 ">
                                <div class=" d-flex justify-content-between pt-2">
                                    <h5 class="mb-0 p-2">Manange Order</h5>
                                </div>

                                <div class="p-1"></div>
                                <div class="card mb-0 ">
                                    <% cartItems.forEach(order=> { %>
                                    <hr>
                                    <div class=" d-flex justify-content-between pt-2">
                                        <div class="col-2">Order Id</div>
                                        <div class="col"><%= order._id %></div>
                                    </div>
                                    <div class=" d-flex justify-content-between pt-2">
                                        <div class="col-2">Placed On</div>
                                        <div class="col"><%= order.createdAt.toDateString() %></div>
                                    </div>
                                    <div class=" d-flex justify-content-between pt-2">
                                        <div class="col-2">Status</div>
                                        <div class="col"><%= order.status %></div>
                                    </div>
                                    <div class=" text-center p-3" id="status"
                                        class="text-purple-400 hover:text-purple-600 cursor-pointer"
                                        data-order-id="<%= cartItems[0]._id %>" onclick="cancelOrder(this)">
                                        <% if (order.status === "Cancelled") { %>
                                        CANCELLED
                                        <% } else if (order.status==="Delivered") { %>
                                        RETURN
                                        <% } else  { %>
                                        CANCEL ORDER
                                        <% } %> </div>

                                </div>




                                <hr>
                                <div class="card-body pt-3">
                                    <div class="flex flex-col !gap-2">
                                        <% order.items.forEach(item => { %>
                                        <!-- Card with an image on left -->

                                        <div class="row g-0 ">
                                            <div class="col-3" style="width: 20%;">
                                                <img src="/files/<%= item.product_id.img1 %>" class="img-fluid rounded"
                                                    alt="...">
                                            </div>
                                            <div class="col-9">
                                                <div class="card-body">
                                                    <h5 class="card-title pb-0 pt-2">
                                                        <%= item.product_id.product_name.split(' ').slice(0,
                                                            6).join(' ')  %>
                                                    </h5>
                                                    <p class="card-text">
                                                        <%= item.product_id.description.split(' ').slice(0,
                                                            15).join(' ') %>

                                                    </p>
                                                    <p class="card-text"> Qty :
                                                        <%= item.quantity %>
                                                    </p>
                                                    <p class="card-text pb-0">
                                                        ₹ <%= item.price %>
                                                        <del>₹<%= item.product_id.actual_price %></del>
                                                    </p>

                                                    <div class="text-right text-purple-200 pt-0">WRITE A REVIEW
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <!-- End Card with an image on left -->
                                        <% }) %>
                                    </div>




                                    <div class=" d-flex justify-content-between pt-2">

                                        <h1 class="card-title py-0">Order Detail</h1>

                                    </div>
                                    <div class=" d-flex justify-content-between pt-2">
                                        <div class="col-3">Order Date:</div>
                                        <div class="col"><%= order.createdAt.toDateString() %></div>
                                    </div>
                                    <div class=" d-flex justify-content-between pt-2">
                                        <div class="col-3">Sub Total:</div>
                                        <div class="col"><%= cartItems[0].total_amount %></div>
                                    </div>
                                    <div class=" d-flex justify-content-between pt-2">
                                        <div class="col-3">Order Total:</div>
                                        <div class="col"><%= cartItems[0].total_amount %></div>
                                    </div>
                                    <div class=" d-flex justify-content-between py-2">
                                        <div class="col-3">Payment Method:</div>
                                        <div class="col"><%= cartItems[0].payment_method.toUpperCase() %></div>
                                    </div>






                                    <hr>
                                </div>
                                <% }); %>
                                <div class=" d-flex justify-content-between py-0 ">
                                    <h1 class="card-title py-0 px-4">Address</h1>
                                </div>
                                <div class=" d-flex justify-content-between pt-0 px-4 ">
                                    <div class="col-5"><%= cartItems[0].address %></div>

                                </div>
                            </div>
                    </div>

                    </form><!-- End General Form Elements -->

                </div>
            </div>

            </form>
        </div>
    </div>



    </div>
    </div>
    </div>

</section>

</div>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>


<script>
    const cancelOrder = async (element) => {
        const orderId = element.getAttribute('data-order-id')
        console.log(orderId);
        const status = document.getElementById('status')
        console.log(status);

        try {
            const res = await axios.post('/cancel-order', {
                orderId
            })

            if (res.status === 200) {
                window.location.reload()
                status.innerHTML = "CANCELLED"
                // window.location.href = '/orders'
            }

        } catch (error) {

        }
    }
</script>