<style>
    ::placeholder {
        color: red;
        opacity: 1;
        /* Firefox */
    }
</style>

<%- include('../partials/header.ejs') %>



<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center " id="product">
    <div class="container ">
        <div class="row justify-content-center ">
            <div class="col-lg-7 col-md-6 d-flex flex-column align-items-center justify-content-center">


                <% if (items.length ==0) { %>
                <div class="card align-items-center">
                    <div class="card-body m-10 text-center"">
                                    <form action="/product"> <img src="/user-assets/images/noitem.png" alt="">

                        <!-- <h5 class="card-title pb-0 pt-2 mb-0  ">There are no items in this cart</h5>

                        <p class="card-text pt-0 mt-0 mb-4">Let’s add some items to the cart to shop</p> -->


                        <button type="submit"
                            class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-purple-500 dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
                            <span
                                class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                                Continue Shopping</span>
                        </button>
                        <!-- <button type="submit">Continue Shopping</button> -->
                        </form>
                    </div>
                </div>


                <% } else { %>

                <div class="card mb-8">
                    <div class="card-body">
                        <% items.forEach(product=> { %>

                        <!-- Card with an image on left -->
                        <div class="card m-3">
                            <div class="row g-0">
                                <div class="col-md-3">
                                    <img src="/files/<%= product.img1 %>" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-9">
                                    <div class="card-body">
                                        <h5 class="card-title pb-0 pt-2">
                                            <%= product.product_name.split(' ').slice(0,
                                                                6).join(' ')  %>
                                        </h5>
                                        <p class="card-text">
                                            <%= product.description.split(' ').slice(0,
                                                                15).join(' ') %>
                                        </p>
                                        <div class="d-flex ">
                                            <p class="card-text" id="<%= product._id %>"> <b>₹
                                                    <%= product.selling_price %></b> <del>₹<%= product.actual_price %>
                                                </del> </p>
                                            <span class="badge border-success border-1 text-success"">14% off</span>
                                                                                                </div>
                                                                                                <div class=" d-flex
                                                justify-content-between align-items-center">

                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-sm"
                                                        data-product-id="<%= product._id %>"
                                                        onclick="remove(this)">Remove</button>
                                                    <button type="button" class="btn btn-sm  ">Move to
                                                        Cart</button>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End Card with an image on left -->
                        <% }); %>

                        <form class="row g-3 needs-validation" novalidate>
                            <div class="col-12">
                                <label for="input-group-1"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                                <div class="relative mb-6">


                                </div>
                            </div>





                        </form>

                        <% } %>





                    </div>
                </div>



            </div>
        </div>
    </div>

</section>

</div>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>


<script>
    /**
     * @param {HTMLSelectElement} element
     */

    // Swal.fire({
    // title: "Are you sure?",
    // icon: "warning",
    // iconColor: '#da63f2',
    // showCancelButton: true,
    // confirmButtonColor: "#908991",
    // cancelButtonColor: "#da63f2",
    // confirmButtonText: "Yes",
    // cancelButtonText: "No",
    // }).then((result) => {
    // if (result.isConfirmed) {
    // Swal.fire({
    // title: "Deleted!",
    // text: "Your file has been deleted.",
    // icon: "success"
    // });
    // }
    // });


    const remove = async (element) => {

        Swal.fire({
            title: "Are you sure?",
            icon: "warning",
            iconColor: '#da63f2',
            showCancelButton: true,
            confirmButtonColor: "#908991",
            cancelButtonColor: "#da63f2",
            confirmButtonText: "Yes",
            cancelButtonText: "No",

        }).then(async (result) => {
            if (result.isConfirmed) {
                id = element.getAttribute('data-product-id')
                console.log("id", id);
                try {
                    const res = await axios.delete('/delete-wishlist', {
                        data: {
                            id
                        },
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    console.log("res", res);
                    if (res.status === 200) {
                        window.location.href = window.location.href
                    }
                } catch (error) {
                    console.log("error", error);
                }
                Swal.fire({
                    title: "Deleted!",
                    text: "Your file has been deleted.",
                    icon: "success"
                });
            }
        });

    }







    //quantity updations function
    const quantity = async (element) => {
        console.log("element", element.value);
        const id = element.getAttribute('data-product-id'); // Accessing the data attribute const
        const qty = element.value;
        const price = document.getElementById(id);
        const total = document.getElementById('total')
        const mrp = document.getElementById('mrp')
        const savings = document.getElementById('savings')
        const shipping = document.getElementById('shipping')

        console.log("qty", qty);
        try {
            const res = await axios.post('/update-quantity', {
                productId: id,
                newQuantity: qty
            })
            const updatePrice = res.data;
            price.innerHTML = `<b>₹  ${updatePrice.price} </b> <del>₹${updatePrice.mrp} </del> `
            total.innerHTML = `<b>₹ ${updatePrice.totalPrice + updatePrice.shipping } </b>`
            mrp.innerHTML = `₹ ${updatePrice.totalMrp}`
            savings.innerHTML = `${updatePrice.totalMrp-updatePrice.totalPrice}`
            if (updatePrice.shipping === 0) {
                shipping.innerHTML = "Free"
            } else {
                shipping.innerHTML = "₹60"
            }
            console.log("price", price);
        } catch (error) {}
    }
</script>